.index {
    width: 60px;
    height: 100vh;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.index a {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #444;
    transition: background 0.3s;
}

.index a:hover {
    background: #ddd;
    border-radius: 8px;
}